@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
  box-sizing: border-box;
  --magnolia: #fffaff;
  --crayola: #3e92cc;
  --green: #62c370;
  --cadet: #2d3142;
  --sienna: #ee6c4d;
}

*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

::placeholder {
  font-style: italic;
  color: var(--cadet);
}

::-moz-placeholder {
  opacity: 0.8;
}

/* ::-webkit-input-placeholder 
  Chrome/Opera/Safari */

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4 {
  font-family: "Montserrat", sans-serif;
  letter-spacing: 0.2rem;
}

img {
  width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

/* form */

.form {
  width: 100%;
}

.mt {
  margin-top: 1rem;
}

/* input */

.input {
  display: block;
  padding: 0.1rem 0.5rem;
  width: 100%;
  border: none;
  border-bottom: 2px solid var(--crayola);
  font-size: 1.2rem;
  background-color: inherit;
  color: var(--cadet);
  margin-bottom: 1em;
}

/* .input:focus {
  outline: none;
  border-bottom: 2px solid var(--cadet);
} */

/* text area */

.area {
  display: block;
  padding: 0.1rem 0.5rem;
  width: 100%;
  border: none;
  border-bottom: 2px solid var(--crayola);
  font-size: 1.2rem;
  background-color: inherit;
  color: var(--cadet);
  margin-bottom: 1em;
  min-height: 10rem;
}

.error {
  border-bottom: 2px solid var(--sienna);
}

/* button */

.btn {
  background-color: var(--crayola);
  border: 2px solid var(--crayola);
  border-radius: var(--radius);
  font-size: 1.35rem;
  letter-spacing: 0.1rem;
  color: var(--cadet);
  transition: all 0.3s linear;
  cursor: pointer;
  padding: 0.5em 2em;
  font-weight: 900;
  width: 100%;
  margin: 1em 0;
}

.btn:hover {
  background-color: transparent;
  color: var(--crayola);
  /* display: inline-block; */
}

.btn:active {
  transform: scale(1.1);
}

.border {
  border-color: var(--cadet);
}

.btn:disabled {
  color: var(--magnolia);
  background-color: #ddd;
}

/* icon */

.icon {
  font-size: 1.5rem;
  vertical-align: middle;
  margin-right: 0.5rem;
}
